.coffee-break-timer {
  width: 500px !important;
  height: 500px !important;
  padding-top: 20px;
  margin-left: 10%;
}

@media (max-width: 600px) {
  .coffee-break-timer {
    margin: auto;
    width: 100% !important;
    height: 100% !important;
  }
  .coffee-break-timer-with-digit {
    margin: auto 3%;
  }
}

.coffee-break-timer-digit {
  font-size: 64px;
  text-align: center;
  font-weight: bold;
}

.coffee-break-timer-digit-countdown {
  font-size: 120px;
}

@media (max-width: 600px) {
  .coffee-break-timer-digit-countdown {
    font-size: 80px;
  }
}

.swan-timer-progress-circular__path-elapsed {
  stroke: var(--coffee-break-background-color);
}
