.coffee-break-energy-grid {
  display: inline-grid;
  grid-template-columns: 100%;
  grid-row-gap: 5px;
  font-size: 24px;
}

.coffee-break-energy-progress-wrap {
  

}

.coffee-break-energy-progress-wrap progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: var(--coffe-break-background-color);
}

.coffee-break-energy-progress-wrap progress::-webkit-progress-bar {
  background: var(--coffe-break-background-color);
}
.coffee-break-energy-progress-wrap progress::-moz-progress-bar {
  background: var(--coffe-break-background-color);
}

.coffee-break-energy-progress-wrap progress::-webkit-progress-value {
  background: var(--coffee-break-progress-100-color);
}
.coffee-break-energy-progress-wrap progress::-moz-progress-bar  {
  background: var(--coffee-break-progress-100-color);
}

/* progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
} */

/* progress::-webkit-progress-value {
  background: red;
} */

/* progress::-webkit-progress-bar {
  background: blue;
} */

.coffee-break-energy-progress {
  
}

.coffee-break-energy-progress-wrap-50 progress::-webkit-progress-value {
  background: var(--coffee-break-progress-50-color);
}

.coffee-break-energy-progress-wrap-50 progress::-moz-progress-bar {
  background: var(--coffee-break-progress-50-color);
}


.coffee-break-energy-progress-wrap-25 progress::-webkit-progress-value {
  background: var(--coffee-break-progress-25-color);
}

.coffee-break-energy-progress-wrap-25 progress::-moz-progress-bar {
  background: var(--coffee-break-progress-25-color);
}

.coffee-break-energy-progress-wrap-0 progress::-webkit-progress-value {
  background: var(--coffee-break-progress-0-color);
}

.coffee-break-energy-progress-wrap-0 progress::-moz-progress-bar {
  background: var(--coffee-break-progress-0-color);
}
