:root {
  --coffee-break-background-color: #282c35;
  --coffee-break-primary-color: white;
  --coffee-break-secondary-color: #d367c1;
  --coffee-break-tertiary-color: #022a4b;/*#82aaff;*//*#00bbcb;*/
  --coffee-break-error-color: #F7B267;
  --coffee-break-link-color: #E07A72;
  --coffee-break-link-hover-color: white;
  --coffee-break-green-color: #1fd279;
  --coffee-break-button-background-color: #4d6cde;
  --coffee-break-progress-100-color: var(--coffee-break-green-color);
  --coffee-break-progress-50-color: #f7a311;
  --coffee-break-progress-25-color: #e8e965;
  --coffee-break-progress-0-color: #e26049;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--coffee-break-background-color);
  color: var(--coffee-break-primary-color);
}

.coffee-break-error {
  color: var(--coffee-break-error-color)
}

.coffee-break-accent {
  color: var(--coffee-break-link-color);
}

a, a:visited, a:hover, a:focus, a:active, a:-webkit-any-link {
  text-decoration: none;
  color: var(--coffee-break-link-color);
}

a:hover {
  color: var(--coffee-break-link-hover-color);
  /* text-decoration: underline; */
  border-bottom: 1px dashed var(--coffee-break-link-hover-color);
}

.content {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 100%;
  /* margin-left: 10%;
  margin-right: 10%; */
  justify-content: center;
  font-size: 24px;
}

.site-heading {
  margin-top: 2%;
  text-align: center;
}

.coffee-break-intro {
  line-height: 1.2rem;
}
