.coffee-break-app-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.coffee-break-timer-grid {
  margin: 0 auto;
  width: 100%;
}
